__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yaml
.DS_Store
*.sqlite3
media/
static/
logs/
.idea/
.vscode/
*.egg-info
dist/
build/
.pytest_cache/
.coverage
htmlcov/
node_modules/
npm-debug.log
