Django
psycopg2-binary
gunicorn
celery
redis
langchain
langchain-community
langchain-google-genai
langchain-groq
sentence-transformers
langchain-huggingface
langchain-chromadb
chromadb
pypdf
python-dotenv